/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-gen-2017, 11.14.07
    Author     : imprendo
*/

/* The Modal (background) */
.modal-custom-dialog {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-custom-dialog .modal-dialog-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 10px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-custom-dialog .modal-dialog-content p
{
    font-size: 1.5em;
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.modal-custom-dialog .close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding: 10px;
    background-image: url("close.png");
    background-position: center;
    background-repeat: no-repeat;
}

.modal-custom-dialog .close:hover,
.modal-custom-dialog .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-custom-dialog .modal-dialog-header {
    padding: 2px 16px;
    background-color: #007ebd;
    color: white;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.modal-custom-dialog .modal-dialog-body {padding: 2px 16px;}

.modal-custom-dialog .modal-dialog-footer {
    padding: 2px 16px;
    background-color: #007ebd;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
}